## Assignment on Functions

**1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]**

In [5]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x:x[1], reverse=True)
print(sorted_players)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

**2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_numbers = map(lambda x:x**2, numbers)
print(list(new_numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')**

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_tuple = tuple(map(lambda x: str(x), my_list))
print(my_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

**4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.**

In [12]:
from functools import reduce

product_of_numbers = reduce((lambda x,y: x*y), range(1,26))
print(product_of_numbers)

15511210043330985984000000

**5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]**

In [20]:
my_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
new_list = filter(lambda x: x%2==0 and x%3==0, my_list)
print(list(new_list))

[6, 60, 90, 120]

**6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']**

In [6]:
languages = ['python', 'php', 'aba', 'radar', 'level']
result = filter(lambda x: x==x[::-1], languages)
print(list(result))

['php', 'aba', 'radar', 'level']