## Assignment on Panda Basic

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd
my_data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(my_data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [4]:
my_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_data)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

In [3]:
# Dictionary of data
data = {"Name":["Alice", "Bob", "Claire"],
        "Age":[25,30,27],
        "Gender":["Female", "Male", "Female"]
       }
# Create DataFrame
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types, and is similar to a spreadsheet or a SQL table. It is a more powerful data structure than a Pandas Series, which is a one-dimensional labeled array that can hold any data type.

A Pandas DataFrame can be thought of as a collection of Pandas Series, where each column in the DataFrame is a separate Pandas Series. Each row in the DataFrame represents a single observation or record, and each column represents a different feature or variable.

Here's an example that illustrates the difference between a Pandas Series and a Pandas DataFrame:

In [10]:
# Dictionary of data
data = {"Name":["Alice", "Bob", "Claire"],
        "Age":[25,30,27],
        "Gender":["Female", "Male", "Female"]
       }

# Create DataFrame
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
age_series = df["Age"]

# Print Data Frame
print("DataFrame: \n" ,df,"\n")

# Print Series
print("Series: \n" ,age_series,"\n")

DataFrame:
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
 0    25
1    30
2    27
Name: Age, dtype: int64

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

There are many functions available in Pandas for manipulating data in a DataFrame. Some of the most common functions include:

* **head()** and **tail()**: These functions allow you to view the first or last n rows of a DataFrame. They are often used to quickly preview a DataFrame to ensure that it was read in correctly.

In [11]:
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [12]:
df.tail(2)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

* **info():** This function displays a summary of a DataFrame, including the number of non-null values and the data type of each column. It is useful for getting an overview of the structure and contents of a DataFrame.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

* **describe():** This function provides a summary of the central tendency, dispersion, and shape of a DataFrame's distribution. It is useful for quickly getting an idea of the distribution of numerical variables in a DataFrame.

In [14]:
df.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

* **value_counts():** This function counts the number of occurrences of each unique value in a column of a DataFrame. It is often used to identify the most common values in a categorical variable.

In [18]:
countries = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon'])
print(countries.value_counts())

Chicago     2
Lisbon      2
New York    1
Toronto     1
Rio         1
dtype: int64

* **groupby():** This function groups a DataFrame by one or more columns and applies a function to each group. It is useful for computing aggregate statistics for different subsets of a DataFrame.

In [21]:
data = {
    'customer_id': [1, 1, 2, 3, 3, 3],
    'date': ['2022-01-01', '2022-01-03', '2022-01-02', '2022-01-01', '2022-01-02', '2022-01-03'],
    'item': ['shirt', 'pants', 'shoes', 'hat', 'jacket', 'scarf'],
    'price': [20, 30, 50, 10, 40, 15]
}
df = pd.DataFrame(data)
df.groupby('customer_id')['price'].sum()

customer_id
1    50
2    50
3    65
Name: price, dtype: int64

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

In Pandas, both Series and DataFrame are mutable objects, which means that their values can be modified after creation. However, Panel objects are not mutable and their values cannot be modified after creation.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

We can create a Pandas DataFrame using multiple Pandas Series by passing them as a dictionary to the DataFrame constructor. Each Series will become a column in the resulting DataFrame, and the keys of the dictionary will become the column names. Here's an example:

In [26]:
# Create different series
name_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25,30,27])
gender_series = pd.Series(["Female", "Male", "Female"])

# Create Dictionary With keys as column name and values as series
data = {"Name":name_series,
        "Age":age_series,
        "Gender":gender_series
       }

# Create DataFrame
df = pd.DataFrame(data)

# Print DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we first create three Pandas Series objects name_series, age_series, and gender_series containing information about individuals. We then create a dictionary data with keys as column names and values as the corresponding series objects.

Finally, we create a Pandas DataFrame by passing the data dictionary to the pd.DataFrame() constructor. The resulting DataFrame df has three columns with the names 'Name', 'Age', and 'Gender', respectively, and each column is populated with the corresponding values from the Series.